<section class="sidenav-component">
  <div class="sidenav--rows">
    <div class="sidenav--row sidenav--row__logo">
      <a routerLink="" class="logo">
        <img src="../../../assets/logo.svg" alt="">
      </a>
    </div>
    <div class="sidenav--row sidenav--row__nav">
      <nav>
        <ul>
          <li>
            <a routerLink="/" mat-button>
              <mat-icon>home</mat-icon>
              Start
            </a>
          </li>
          <li>
            <a routerLink="/" mat-button>
              <mat-icon>insert_invitation</mat-icon>
              Rezervations
            </a>
          </li>
          <li>
            <a routerLink="/" mat-button>
              <mat-icon>filter_none</mat-icon>
              Packages
            </a>
          </li>
          <li>
            <a routerLink="/" mat-button>
              <mat-icon>fitness_center</mat-icon>
              Courses
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
