<section class="Home">
  <div class="Home--contents">
    <div class="Home--contents-item">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            PTCOMPANY'a hoşgeldiniz.
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>Eğer ilk defa sitemizi ziyaret ediyorsanız, <button mat-button color="primary">Başlangıç randevuları</button> kısmından ilk görüşme randevusu alabilirsiniz.</li>
            <li>Sitemizden paket satın alabilir ya da sadece rezervasyon yapabilirsiniz.</li>
            <li>Eğer kullanım bekleyen paket hizmetiniz varsa, PTCOMPANY' dan rezervasyon yapabilirsiniz, kalan paket haklarınızı resepsiyondan sorgulayabilirsiniz.</li>
            <li>Siteye üye olmanız durumunda Rezervasyon ve satın alma geçmişinizi görüntüleyebilir, rezervasyon tarihlerinizi güncelleyebilirsiniz. Rezervasyon iptalleri için lütfen SAM'S resepsiyona telefon ya da mail ile 4 saat önceden bilgi veriniz. <a href="tel:+902123550011">212 355 00 11</a>, <a href="mailto: rez@ptcompany.dev">rez@ptcompany.dev</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="Home--contents-row box-items">
      <div class="Home--contents-item box-item">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Başlangıç Randevuları</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/1.jpg" alt="">
          <mat-card-actions>
            <button mat-button>RANDEVU AL</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="Home--contents-item box-item">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Bireysel Antremanlar</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/2.jpg" alt="">
          <mat-card-actions>
            <button mat-button>RANDEVU AL</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="Home--contents-item box-item">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Paketler</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/3.jpg" alt="">
          <mat-card-actions>
            <button mat-button>SATIN AL</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="Home--contents-item box-item">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Kurslar</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../assets/4.jpg" alt="">
          <mat-card-actions>
            <button mat-button>RANDEVU AL</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
