<mat-toolbar class="Toolbar">
  <div class="Toolbar--row">
    <div class="Toolbar--col left-area">
      <button mat-icon-button color="primary" (click)="handleClickTriggerSidenav()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="Toolbar--col right-area">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Hesabım</span>
        </button>
        <button mat-menu-item>
          <mat-icon>directions_run</mat-icon>
          <span>Çıkış Yap</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
